.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;

}

.title{
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 3rem;
    color: #FFFFFF;
    margin-top: 0px;
}
