.skills{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 100%;
}

.title{
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 3rem;
    color: #FFFFFF;
    margin: 0px;
}

.allSkillsCards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
}

.skillCard{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;

    border: 2px solid #FFFFFF;
    border-radius: 20px;
    margin: 20px;
    padding: 20px 0 20px 0px;
    width: 400px;
    height: 400px;
}

.skillCardLogo{
    height: 200px;
    padding-bottom: 20px;
   
}
.skillCardName{
    color: #FFFFFF;
    
    width: 80%;

}
.skillCardUsage{
    color: #bababa;
    width: 80%;
}